.bar-chart {
    margin: 20px;
    padding: 20px;
    box-shadow: 2px -3px 30px -15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px -3px 30px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px -3px 30px -15px rgba(0, 0, 0, 0.75);
}