.navbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    margin-bottom: 20px;
    top: 0;
    z-index: 999;
}

.navbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}

.navbarIconContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.topRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarNotificationNumber {
    width: 15px;
    height: 15px;
    position: absolute;
    top: -10px;
    right: 5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.navbarProfilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}